@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@1,700&family=Source+Sans+Pro&display=swap');

.App, .contact, .work{
  background-image: url(./Utils/background.jpg);
  background-size:100%!important;
  background-repeat:inherit;
  height: 100vh!important;
  /* padding-top: 0px !important; */
}
.nav-item{
  color: #BFDBF7;
}

.navbar-brand, .btn{
  font-family: 'Source Sans Pro', sans-serif;
  color:#BFDBF7;
}

.footerFont{
  color: #BFDBF7;
}
.container1{
  justify-content: center;
  text-align: center;
}

footer{
  bottom: 0;
  left:0;
  position:fixed;
  width: 100%;
}

.homeBody{
  text-align:center;
  color:#ffffff;
  padding-left: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}

.contactTitle, .homeTitle, .workTitle{
  color:#353A3C;
  font-family: 'Playfair Display SC', serif;
  font-size: 4.0rem;
}

.homeTitle, .workTitle{
  margin-bottom: 30px;
  text-align: center;
  padding-bottom: 20px;
}
.jumbotron {
  margin-top: 50px;
  margin-bottom: 50px;
background-color: #869D7A;
    }


.myPic{
  width: 20rem;
  height: 25rem;
  border-radius: 8px;
}

.projects{
  justify-content: center;
  align-content: center;
}

.workOpt{
margin: 0px auto;
}

h5, p, .deployLink{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #ffffff;
}


.d-block, .workOpt{
  max-width: 806px;
  max-height: 500px;
}

.workTitle{
  justify-content: center;
}
.contactTitle{
  text-align: center;
}
.links{
  padding-right: 450px;
  
}
.fab, .fas{
  color: #AD360B;
}

.linkedin, .github, .resume{
  float: right;
}

