
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,800&display=swap');



.App, .contactCont, .workCont{
  background-image: url(./Utils/background.jpg);
  background-size:100%;
  background-attachment: inherit;
  background-repeat: repeat;
  height: 100vh;
}

.footerFont{
  color: #ffffff;
}

footer{
  bottom: 0;
  left:0;
  position:fixed;
  width: 100%;
}

.homeBody{
  text-align:center;
  color:#ffffff;
}

.contactTitle{
  color:#ffffff;
  font-family: 'Raleway', sans-serif;
}
.jumbotron {
  margin-top: 175px;

    }